/*Figure out how to use the css to make it such that the images don't stretch to fill, perhaps by using margins? 
    Constrain image aspect ratio, but resize to fit the view window.

    Also perhaps use a thumbnail listing below? 
*/
#slides {
    display: flex;
    width: 100vw;
    height: 50vh;
    align-content: center;
    justify-content: space-around;
    color: midnightblue;
    margin-left: auto;
    margin-right: auto;
}
script{display:none;}
